.adminContainer {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

}

.adminHeader {
    border: solid white 1px;
    /* width: 100vw; */
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
    display: flex;
    align-items: start;
    padding: 1em;
    box-shadow: rgba(128, 128, 128, 0.2) 0px 7px 29px 0px;
}

.headerItem {
    /* border: solid white 1px; */
    height: 20%;
    display: flex;
    flex-direction: column;
    margin: 0em 1em;

}

.pricingInfo p {
    margin: 0px;
    margin-bottom: .5em;
    font-size: .75em;
}

.cardBox {
    /* border: solid white 1px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}